/* * Customizing tufte.css * */

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

@charset "UTF-8";

/* Tufte CSS styles */

html {
	font-size: 14px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	background-color: #fefefe;
	color: #222;
	counter-reset: li;
}

h1.title {
	font-weight: 700;
	font-family: 'Source Sans Pro', sans-serif;
	color: #6CA0DC;
}

h1 {
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
	color: #6CA0DC;
}

h2 {
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #6CA0DC;
}

h3.subtitle {
	font-style: normal;
	color: #6CA0DC;
}

h4 {
	font-style: normal;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 1.5rem;
	margin-bottom: 1;
	line-height: 1;
}

h4.author,
h4.date {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.numeral {
	font-family: "Source Sans Pro";
	font-weight: 300;
}

em {
	font-style: italic;
	font-weight: 300;
	font-family: "Source Sans Pro";
}

strong {
	font-style: bold;
	font-weight: 600;
	font-family: "Source Sans Pro";
}

/* Code formatting */

@media screen and (max-width: 760px) {
	pre {
		width: 100%;
		font-size: 16px;
	}
}

code {
	font-family: 'Source Code Pro', Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 15px;
	line-height: 1.6;
}

pre code {
	font-size: 15px;
}

.marginnote code,
.sidenote code {
	font-size: 1rem;
}

pre {
		width: 100%;
		font-size: 16px;
		overflow-x: auto;
}

/* Exercise counter */

ol {
	/* Remove the default left padding */
	padding-left: 0;
}

ol>li {
	/* Create a positioning context */
	position: relative;
	/* Disable the normal item numbering */
	list-style: none;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0;
	padding-left: 90px;
}

ol>li:before {
	/* Use the counter as content */
	content: "Exercise " counter(li)".";
	/* Increment the counter by 1 */
	counter-increment: li;
	position: absolute;
	color: #6CA0DC;
	left: -0.5px;
	font-weight: bold;
}

ol ol {
	counter-reset: subitem;
}



.comment {
    background-color: #e5e5e6;
    border-radius: 7px;
    font-family:helvetica;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.comment_line {
    background-color: white;
    font-family:helvetica;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid lightgrey;
}

.boxx {
    background-color: #a5a5a7;
    border-radius: 7px;
    padding-left: 20px;
    color: white;
    font-weight: bold;
}

.boxx_line {
    background-color: #a5a5a7;
    border-radius: 7px;
    padding-left: 20px;
    color: white;
    font-weight: bold;
}

.comment_with_line {
    border-radius: 7px;
    padding: 20px 0 0 20px;
    border: 3px solid lightgrey;
}

.txt1 {
    padding-left:20px;
}


.boxx2 {
    background-color: #a5a5a7;
    border-radius: 7px;
    padding-left: 20px;
    color: white;
    font-weight: normal;
    width: 300px;
    margin: 20px 0 0 20px;
    font-weight: bold;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 15px 15px 0 20px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: 100px auto auto;
  margin: 15px 15px 0 20px;
}

.grid-container1 {
  display: grid;
  margin: 15px 15px 0 20px;
}

.grid-container4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 15px 15px 0 20px;
}

.grid-container33 {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 15px 15px 0 20px;
}

.grid-item {
  text-align: left;
}

.bcode {
    color: #668cff;
    font-weight: bold;
    font-family:helvetica;
    word-break: normal;
    word-wrap: normal;
    white-space: inherit;
}
.tcode {
    font-weight: bold;
    font-family:helvetica;
    word-break: normal;
    word-wrap: normal;
    white-space: inherit;
}


